<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="http://vjs.zencdn.net/7.0/video-js.min.css" rel="stylesheet">
    <script src="http://vjs.zencdn.net/7.0/video.min.js"></script>
</head>
<body>
  <video id="my_video_1" class="video-js" width="640px" height="267px"
      controls preload="none" poster='https://firebasestorage.googleapis.com/v0/b/facevote-eb748.appspot.com/o/forums%2Fnearest-expect%2Fandrew.jpg?alt=media&token=a67570d1-79a0-4fa4-904a-88810836daf5'
      data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
    <source src="https://vjs.zencdn.net/v/oceans.mp4" type='video/mp4' />
    <!-- <source :src="https://firebasestorage.googleapis.com/v0/b/facevote-eb748.appspot.com/o/forums%2Fnearest-expect%2FDesktop%20Notifications%20-%20Beau%20teaches%20JavaScript.mp4?alt=media&token=d9384f93-91af-4820-9ed4-20e7e98e9bff" type='video/mp4' /> -->
  </video>
</body>
</html>