<v-card class="chat_home" height="400px;" style="height:400px;overflow-y:auto">
    
    <v-card-title class="blue white--text">
      <span class="subheading">Bio elections</span>
      <v-spacer></v-spacer>
      <v-menu bottom left transition="slide-y-transition">
        <v-btn slot="activator" dark icon>
          <v-icon>more_vert</v-icon>
        </v-btn>

        <v-list>
          <v-list-tile @click="">
            <v-list-tile-title>Group info</v-list-tile-title>
          </v-list-tile>
          <v-list-tile @click="">
            <v-list-tile-title>Settings</v-list-tile-title>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-card-title>
    <div class="speech-bubble"></div>
    <v-btn flat icon @click.stop="menu = true"><v-icon>menu</v-icon></v-btn>
    <v-navigation-drawer stateless value="true"  clipped absolute right width="300" >
      <v-btn flat icon @click.stop="menu != menu"><v-icon>menu</v-icon></v-btn>
    </v-navigation-drawer>
    <v-footer height="auto" absolute>
     <v-form>
    <v-container>
      <v-layout row wrap>

        <v-flex xs12>
          <v-text-field
            v-model="message"
            :append-icon="message ? 'attach_file' : 'photo_camera'"
            :append-outer-icon="message ? 'send' : 'mic'"
            :prepend-icon="icon"
            outline
            clear-icon="mdi-close-circle"
            clearable
            label="Message"
            hide-details
            type="text"
            @click:append="toggleMarker"
            @click:append-outer="sendMessage"
            @click:prepend="changeIcon"
            @click:clear="clearMessage"
          ></v-text-field>
        </v-flex>

      </v-layout>
    </v-container>
  </v-form>
    </v-footer>
  </v-card>