<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Andela Test</title>
</head>
<body>
  <script>
    
    function removeDuplicates(str){
        let arr = str.split('')
        //console.log(arr)
        let dup = []
        let unq = []
        for(i=0;i<arr.length;i++){
          let item = arr[0]
          let ab = arr.shift()
          unq.push(ab)
          console.log(unq);
          console.log(arr.indexOf(item))
          while(arr.indexOf(item) != -1){
            console.log(arr.indexOf(item))
            arr.splice(arr.indexOf(item),1)
            dup.push(item)
          }
        }
        return {uniques:arr, duplicates:dup.length}
      }
      console.log(removeDuplicates('aaaabbc'))
    </script>
</body>
</html>