<<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src=""></script>
</head>
<body>
  <script>
    
    let roles = {
      pres:[1,3,4,3,3,3,1],
      sec:[5,6,5,6,7,7]
    };
    console.log(roles)
    function getScores(roles){
      let scores = [];
      let ids = [];
      for(role in roles){
        
        let sortedVal = roles[role].sort()
        sortedVal.forEach(id=>{
          if(ids.indexOf(id) == -1){
            let firstPos = sortedVal.indexOf(id);
            let lastPos = sortedVal.lastIndexOf(id);
            let score = lastPos -firstPos + 1;
            scores.push({id:id,score:score,role:role});
            ids.push(id);
          }
        })
      }
      return scores;
    }

    console.log(getScores(roles));
    
  </script>
</body>
</html>